body {
	padding-top:40px;
	background-color:rgb(24,0,82);
}


.image-board .image-container {
	margin: 10px 0px 0px 10px;
	display: inline-block;
	vertical-align: middle;
}

.image-board .play-gif-icon {
	font-size: 30pt;
	position: absolute;
	top: 42%;
	left: 42%;
	color: white;
	cursor: pointer;
}

.image-board .stop-gif-icon {
	color: white;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: pointer;
}

#secondary-image-board-title {
	background-color: rgb(17,17,17);
	color: #646464;
	position: fixed;
	height: 25px;
	bottom: 145px;
	width: 100%;
	padding-left:10px;
	z-index: 99999;
}

#secondary-image-board-toggle {
	margin-left:48%;
	position: fixed;
	bottom: 0px;
	color:white;
	cursor:pointer;
	padding: 5px 20px 0px 20px;
	font-size: 17px;
	background-color: rgb(17,17,17);
}

#secondary-image-board-toggle:hover {
	background-color: rgb(51,51,51);
}


#secondary-image-board-title span {
	float: right;
	font-size: 12px;
}

.exit-button-container {
	float: right;
	padding:5px;
}

.exit-button-container:hover {
	background-color: rgb(51,51,51);
	cursor:pointer;
}

#secondary-image-board {
	background-color: rgb(17,17,17);
	position: fixed;
	height: 145px;
	bottom: 0px;
	width: 15000px;
	z-index: 99999;
}

/* Override scrollbar plugin CSS */
.mCSB_horizontal.mCSB_inside {
	width: 1920px !important;
}

.mCSB_container {
	width: 15000px !important;
}

.mCSB_dragger_bar {
	height: 13px !important;
	border-radius: 0px !important;
	margin: 3px 0px 0px 0px !important;

}

.mCSB_draggerRail {
	border-radius: 0px !important;
	height: 13px !important;
	margin-top: 3px !important;
}
/**/

.secondary-image-element {
	height: 110px;
	margin: 10px 0px 10px 10px;
	width: 195px;
	float:left;
	overflow: hidden;
}

.sidebar-bottom {
	margin-top: 440px !important;
	z-index: 0 !important;
	position: fixed !important;
}

#quick-actions-more {
	margin-top:30px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#quick-actions-more:hover {
	cursor: pointer;
}

.sidebar-top {
	z-index: 0 !important;
}

.sidebar-bottom .actions {
	float:left;
	padding:5px 8px 5px 8px;
}

.sidebar-bottom .no-hover:hover{
	background-color: white !important;
}

.sidebar-bottom .no-hover a{
	cursor:default;
}

.sidebar-bottom .actions:hover {
	background-color: #e5e5e5;
}

.sidebar-bottom .actions a {
	padding:0px 10px 0px 10px !important;
}

/* Add image modal */
.add-image-modal {
	padding:20px 10px 10px 10px;
}

.add-image-modal button {
	margin-top:25px;
}

.add-image-loading-screen {
	background-color:rgba(0,0,0,.5);
	top:0px;
	left:0px;
	width:100%; height:120%;
	position:absolute;
	z-index:8888;
}

.add-image-loading-screen .circular-loader {
	margin-top:9%;
}

.add-image-preview-container {
	width:28% !important;
	float:left;
	margin-left:15px;
	margin-top:3px;
}

.add-image-preview-container img {
	max-height: 70%;
}

.add-image-left {
	width:70% !important;
	float:left;
}

.add-pc-input {
	width: 100% !important;
	height: 100% !important;
}

.add-image-error-section {
	height: 51px;
	padding-top: 25px;
	cursor: default;
}

.window.flat.shadow {
	height: 40% !important;
	min-height: 450px;
	min-width: 775px !important;
	max-width: 50% !important;
	top:10% !important;
}

/**/

/* Options screen*/
#optionsList {
	list-style:none;
	margin-top:40px;
	padding-left: 0px;
	margin-left: 0px;
}

#optionsList li {
	color:black;
	height: 45px;
	line-height: 40px;
	padding-left:50px;
	cursor: default;
	font-family: 'Segoe UI';
	font-size: 20px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

#optionsList li:hover {
	background-color: rgb(222,222,222)
}

#optionsList li.selected {
	color:white;
	background-color: #1ba1e2;
}

#closeOptionsScreenContainer {
	float: right;
	padding:10px;
	font-size: 12px;
}

#closeOptionsScreenContainer:hover {
	background-color: rgb(244,244,244);
	cursor:pointer;
}
/**/

/* Animaciones animate.css*/
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }
}
.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
          animation-name: fadeOutLeftBig;
}

@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
            transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
            transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
          animation-name: rotateInUpRight;
}

@-webkit-keyframes rotateOutDownRight {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownRight {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
          animation-name: rotateOutDownRight;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
}

.animated {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
}
/**/

/* General styles*/
.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.clear {
	clear:both;
}

.hidden {
	display:none;
}

.not-selectable {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}
/**/