body {
	padding-top:40px;
	background-color:rgb(24,0,82);
}


.image-board .image-container {
	margin: 10px 0px 0px 10px;
	display: inline-block;
	vertical-align: middle;
}

#secondary-image-board-title {
	background-color: rgb(17,17,17);
	color: #646464;
	position: fixed;
	height: 25px;
	bottom: 145px;
	width: 100%;
	padding-left:10px;
	z-index: 99999;
}

#secondary-image-board-toggle {
	margin-left:48%;
	position: fixed;
	bottom: 0px;
	color:white;
	cursor:pointer;
	padding: 5px 20px 0px 20px;
	font-size: 17px;
	background-color: rgb(17,17,17);
}

#secondary-image-board-toggle:hover {
	background-color: rgb(51,51,51);
}


#secondary-image-board-title span {
	float: right;
	font-size: 12px;
}

.exit-button-container {
	float: right;
	padding:5px;
}

.exit-button-container:hover {
	background-color: rgb(51,51,51);
	cursor:pointer;
}

#secondary-image-board {
	background-color: rgb(17,17,17);
	position: fixed;
	height: 145px;
	bottom: 0px;
	width: 15000px;
	z-index: 99999;
}

/* Override scrollbar plugin CSS */
.mCSB_horizontal.mCSB_inside {
	width: 1920px !important;
}

.mCSB_container {
	width: 15000px !important;
}

.mCSB_dragger_bar {
	height: 13px !important;
	border-radius: 0px !important;
	margin: 3px 0px 0px 0px !important;

}

.mCSB_draggerRail {
	border-radius: 0px !important;
	height: 13px !important;
	margin-top: 3px !important;
}
/**/

.secondary-image-element {
	height: 110px;
	margin: 10px 0px 10px 10px;
	width: 195px;
	float:left;
	overflow: hidden;
}

.sidebar-bottom {
	margin-top: 440px !important;
	z-index: 0 !important;
	position: fixed !important;
}

#quick-actions-more {
	margin-top:30px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#quick-actions-more:hover {
	cursor: pointer;
}

.sidebar-top {
	z-index: 0 !important;
}

.sidebar-bottom .actions {
	float:left;
	padding:5px 8px 5px 8px;
}

.sidebar-bottom .no-hover:hover{
	background-color: white !important;
}

.sidebar-bottom .no-hover a{
	cursor:default;
}

.sidebar-bottom .actions:hover {
	background-color: #e5e5e5;
}

.sidebar-bottom .actions a {
	padding:0px 10px 0px 10px !important;
}

/* Add image modal */
.add-image-modal {
	padding:20px 10px 10px 10px;
}

.add-image-modal button {
	margin-top:25px;
}

.add-image-loading-screen {
	background-color:rgba(0,0,0,.5);
	top:0px;
	left:0px;
	width:100%; height:120%;
	position:absolute;
	z-index:8888;
}

.add-image-loading-screen .circular-loader {
	margin-top:9%;
}

.add-image-preview-container {
	width:28% !important;
	float:left;
	margin-left:15px;
	margin-top:3px;
}

.add-image-preview-container img {
	max-height: 70%;
}

.add-image-left {
	width:70% !important;
	float:left;
}

.add-pc-input {
	width: 100% !important;
	height: 100% !important;
}

.window.flat.shadow {
	height: 40% !important;
	min-height: 450px;
	min-width: 775px !important;
	max-width: 50% !important;
	top:10% !important;
}

/**/

/* General styles*/
.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.clear {
	clear:both;
}

.hidden {
	display:none;
}
/**/